h1{
    background: #ec610a;
    /* margin-left:100px;
    margin-bottom:200px; */
    /* margin:100px; */
    /* margin: 200px 100px; */ /* izq derecha*/
    margin: 100px 100px 50px 500px;
    /*   arriba, izq, infe, derecha     */
}
p{
    background: #a40a3c;
    padding: 100px;
}