h3{
    color:red
}

/* formas de implentar css en html */

/* etiqueta html*/
h4{

}
/* id */
#unico{
    font-size: 500%;
}
/* usando clases*/
.clase-red{
    color:red
}


/* colores*/

.rojo{
color: Tomato;   /* nombre*/
}
.verde{
color: rgb(60, 177, 71); /* rgb*/
}
.celeste{
color: #00CED1; /* hexa */
}


/* margen y paddings*/
